@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Home :D</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Thank you freeCodeCamp for helping me build Web apps with ASP.NET Core</a>.</p>

        <p>Estou estudando pelo tutorial ASP.NET Core Crash Course - C# App in One Hour do site de youtube freeCodecamp   </p>

</div>
