@{
    ViewData["Title"] = "Privacy Policy made by Paulo Henrique da Silva Neto";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.Thanks for reaching this page</p>
